.Weather .weather-app {
  border: solid 5px #24527a;
  border-radius: 10px;
  background: #9bbfcf;
  padding: 15px 25px 20px;
  font-family: "Outfit", sans-serif;
}
.Weather .search-button {
  background: #24527a;
  color: #fff;
  text-align: center;
}
.Weather .current {
  background: #24527a;
  color: #fff;
}

.Weather h1 {
  font-weight: 600;
  color: #24527a;
  font-size: 24px;
  margin-top: 20px;
}

.Weather .weather-description {
  color: #24527a;
  font-size: 16px;
  margin: 0 auto 10px;
}

.Weather .weather-description:first-letter {
  text-transform: capitalize;
}

.Weather .weather-condition {
  color: #24527a;
  text-align: right;
  font-size: 16px;
  list-style: none;
}

.Weather .weather-today .temperature {
  font-size: 50px;
  color: #24527a;
}
.Weather .weather-today .unit {
  font-size: 20px;
  color: #24527a;
  position: relative;
  top: -20px;
}

.Weather .weather-today {
  margin: 5px 0 0 40px;
}
